* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.nav-bar-spsi {
  background-color: #203864;
  color: white;
  a {
    color: white;
  }

  a:hover {
    color: #5fc2d4;
  }
}

.active {
  color: #5fc2d4;
  font-weight: bold;
}

footer {
  background-color: #203864;
  color: aliceblue;
}

.card-titulo {
  background-color: #203864;
}

.cuadroTexto {
  margin-top: 2rem;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: 0 10px 30px -10px black;
}

.cuadroTexto--titulo {
  background: #5ec2d4;
  color: white;
}

.intro__title {
  background-color: #203864;
  color: white;
  border-radius: 1rem;
  text-align: center;
  padding: 10px;
  box-shadow: 0 10px 30px -10px black;
}

.carousel-indicators li {
  border-radius: 20%;
}

.btn-contacto {
  background-color: #5fc2d4;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.redes img {
  margin: 30px;
  width: 10%;
}
